#sign-in {
  display: grid;
  place-content: center;
  min-height: 100vh;
}

#filters {
  display: flex;
  gap: var(--space-sm);

  @media (width >= 728px) {
    justify-self: center;
    order: 2;
  }
}

#add-book-button {
  justify-self: end;

  @media (width >= 728px) {
    order: 3;
  }
}

.missing-book {
  aspect-ratio: 2 / 3;
  background: var(--color-surface);
  display: grid;
  flex: 1;
  place-content: center;
}
