#sign-in {
  display: grid;
  gap: var(--space-lg);
  place-content: center;
  min-height: 100dvh;
}

#detail {
  display: grid;
  grid-template-rows: min-content 1fr;
  min-height: 100dvh;
}

#filters {
  display: flex;
  gap: var(--space-sm);

  @media (width >= 728px) {
    justify-self: center;
    order: 2;
  }
}

#add-book-button {
  display: grid;
  height: 48px;
  padding: 0;
  place-content: center;
  justify-self: end;
  width: 48px;

  @media (width >= 728px) {
    order: 3;
  }
}

.missing-book {
  aspect-ratio: 2 / 3;
  background: var(--color-surface);
  display: grid;
  flex: 1;
  place-content: center;
}
