*,
*::before,
*::after {
  box-sizing: border-box;
  interpolate-size: allow-keywords;
  margin: 0;
  padding: 0;
}

html {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100dvh;
  padding: 1rem;
}
