:root {
  --color-primary: #1e2229;
  --color-primary-hover: #2a2d36;
  --color-surface: #eee;
  --color-border: #323642;
  --color-white: #fff;
  --color-text: var(--color-primary);

  --space-xs: 0.25rem;
  --space-sm: 0.5rem;
  --space-md: 1rem;
  --space-lg: 2rem;
  --space-xl: 4rem;

  --radius-sm: 0.5rem;
  --radius-md: 1rem;
  --radius-lg: 2rem;

  --font-sm: 0.8rem;
  --font-md: 1rem;
  --font-lg: 1.5rem;
  --font-xl: 3rem;

  --shadow-sm: 0 3px 5px rgb(0 0 0 / 0.2);
  --shadow-lg: 0 8px 24px -4px rgb(0 0 0 / 0.4);

  --transition-fast: 0.2s;
  --transition-slow: 1s 0.3s;

  --content-inline-padding: 15vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  corner-shape: squircle;
  interpolate-size: allow-keywords;
  margin: 0;
  padding: 0;
}

html {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100dvh;
}

header,
section {
  padding: var(--space-md);
}

header {
  display: grid;
  gap: var(--space-md);
  grid-template-columns: 1fr 1fr;

  @media (width >= 728px) {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
  }
}

[hidden][hidden] {
  display: none;
}
