*,
*::before,
*::after {
  box-sizing: border-box;
  interpolate-size: allow-keywords;
  margin: 0;
  padding: 0;
}

html {
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  -webkit-font-smoothing: antialiased;
}

body {
  min-height: 100dvh;
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

[hidden][hidden] {
  display: none;
}
