.bookdetail {
  background:
    linear-gradient(rgb(255 255 255 / 0.3), rgb(255 255 255 / 0.3)),
    var(--bg-url) 50% 50% no-repeat;
  background-size: cover;
  border: 0;
  display: block;
  height: auto;
  min-height: stretch;
  position: relative;
  transition: all var(--transition-slow);
  width: 100vw;

  @starting-style {
    opacity: 0;
  }
}

.bookdetail-content {
  align-items: center;
  backdrop-filter: blur(72px);
  display: flex;
  flex-direction: column;
  gap: var(--space-lg);
  min-height: stretch;
  padding-block: var(--space-xl);
  padding-inline: var(--content-inline-padding);
  position: relative;
}

@media (width >= 728px) {
  .bookdetail-content {
    align-items: center;
    flex-direction: row;
  }
}

.bookdetail-close {
  aspect-ratio: 1;
  background: transparent;
  display: grid;
  border: 0;
  cursor: pointer;
  height: 48px;
  opacity: 0.5;
  place-content: center;
  position: absolute;
  right: 0;
  top: 0;
  transition: opacity var(--transition-fast);
  width: 48px;

  &:hover {
    opacity: 1;
  }
}

.bookdetail-cover {
  aspect-ratio: 2 / 3;
  background: var(--color-surface);
  border-radius: var(--radius-lg);
  box-shadow: var(--shadow-lg);
  flex: 1;
  max-height: 50dvh;
  max-width: 60%;
  object-fit: contain;
}

@media (width >= 728px) {
  .bookdetail-cover {
    max-height: none;
    max-width: 100%;
    object-fit: initial;
  }
}

.bookdetail-info {
  display: flex;
  flex-direction: column;
  gap: var(--space-md);
  flex: 2;
}

.bookdetail-title {
  font-size: var(--font-xl);
  line-height: 1.1;
  text-wrap: balance;
}

.bookdetail-author {
  font-size: var(--font-lg);
  text-wrap: balance;
}

.bookdetail-meta {
  display: flex;
  flex-wrap: wrap;
  gap: var(--space-md);

  div {
    border: 2px solid var(--color-text);
    border-radius: var(--radius-sm);
    padding: var(--space-sm);
  }
}

.bookdetail-meta-title {
  font-size: var(--font-sm);
}

.bookdetail-meta-content {
  margin-block: 0.15rem 0;
  text-transform: capitalize;
}
