.btn {
  background: #1a73e8;
  color: #fff;
  border: none;
  font: inherit;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  font-size: 1rem;

  &:hover {
    background: #1557b0;
  }
}

.btn-google {
  background: #1a73e8;

  &:hover {
    background: #1557b0;
  }
}
