.btn {
  background: var(--color-primary);
  color: var(--color-white);
  border: none;
  font: inherit;
  padding: var(--space-sm) var(--space-md);
  border-radius: var(--radius-sm);
  cursor: pointer;
  font-size: var(--font-md);

  &:hover {
    background: var(--color-primary-hover);
  }
}

.btn-google {
  background: var(--color-primary);

  &:hover {
    background: var(--color-primary-hover);
  }
}
