.fields {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

label {
  display: block;
  margin-bottom: 4px;
}

:where(input, select) {
  background: #fff;
  border: 1px solid #bbb;
  padding: 8px;
}

:where(input) {
  width: 100%;
}
