.fields {
  display: flex;
  flex-direction: column;
  gap: var(--space-sm);
}

.field-actions {
  display: flex;
  gap: var(--space-sm);
}

label {
  display: block;
  margin-bottom: var(--space-xs);
}

:where(input, select) {
  background: var(--color-white);
  border: 1px solid var(--color-border);
  border-radius: var(--radius-md);
  font: inherit;
  padding: var(--space-sm);
}

:where(input) {
  width: 100%;
}

select {
  appearance: base-select;

  &::picker-icon {
    aspect-ratio: 1;
    content: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="black" stroke-width="2"><path stroke-linecap="round" stroke-linejoin="round" d="m19.5 8.25-7.5 7.5-7.5-7.5"/></svg>');
    height: 16px;
    width: 16px;
    transition: rotate var(--transition-fast);
  }

  &:open::picker-icon {
    rotate: 180deg;
  }

  &::picker(select) {
    appearance: base-select;
    border: 1px solid var(--color-border);
    border-radius: var(--radius-md);
    box-shadow: var(--shadow-sm);
    margin-top: var(--space-xs);
    padding: var(--space-sm);
    transition: all var(--transition-fast);

    @starting-style {
      opacity: 0;
      translate: 0 -1rem;
    }
  }
}

option {
  border-radius: var(--radius-sm);
  padding: var(--space-sm);

  &::checkmark {
    order: 1;
    margin-left: auto;
    /*content: "☑️";*/
  }

  &:checked {
    background: lightblue;
  }

  + option {
    margin-top: 2px;
  }
}
